
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Department
<div>
    <label asp-for="Code" class="col-form-label"></label>
    <input type="text" asp-for="Code" class="form-control" readonly />
</div>
<div>
    <label asp-for="Name" class="col-form-label"></label>
    <input type="text" asp-for="Name" class="form-control" readonly />
</div>
<div>
    <label asp-for="DateOfCreation" class="col-form-label"></label>
    <input type="datetime-local" asp-for="DateOfCreation" class="form-control" readonly />
</div>