@{
    ViewData["Title"] = "Update";
}

@model EmployeeViewModel

<div class="min-vh-100 d-flex align-items-center flex-column justify-content-center">
    <div class="w-75 shadow shadow-sm rounded rounded-5 bg-white p-3">
        <div class="header mb-3">
            <h1>Update Employee Info</h1>
        </div>
        <form asp-action="Update" method="post" enctype="multipart/form-data">
            <div class="body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <!-- Image -->
                <div class="d-flex align-items-center justify-content-center w-100">
                    <div class="image w-25">
                        @if (!string.IsNullOrEmpty(Model.ImageUrl))
                        {
                            <!-- Display the image if ImageUrl is available -->
                            <img src="~/Files/Images/@Model.ImageUrl" alt="@Model.Name Image" class="w-100 rounded rounded-circle img-fluid" />
                        }
                        else
                        {
                            <!-- Display Facebook-like head and body avatar if ImageUrl is null -->
                            <div class="placeholder-avatar w-100 rounded-circle d-flex align-items-center justify-content-center bg-light" style="height: 150px;">
                                <i class="fa fa-user fa-5x text-secondary"></i>
                            </div>
                        }
                    </div>
                </div>

                <partial name="PartialViews/CreateEditPartial"></partial>


                <input type="submit" value="Update" class="btn btn-primary mt-2" />
                <a asp-action="Index" class="btn btn-secondary mt-2 ms-2">Cancel</a>
            </div>
        </form>
        @section ValidateSection {
            <partial name="_ValidationScriptsPartial"></partial>
        }
    </div>
</div>



