
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EmployeeViewModel

<!-- Image -->
<div class="d-flex align-items-center justify-content-center w-100">
    <div class="image w-25">
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <!-- Display the image if ImageUrl is available -->
            <img src="~/Files/Images/@Model.ImageUrl" alt="@Model.Name Image" class="w-100 rounded rounded-circle img-fluid" />
        }
        else
        {
            <!-- Display Facebook-like head and body avatar if ImageUrl is null -->
            <div class="placeholder-avatar w-100 rounded-circle d-flex align-items-center justify-content-center bg-light" style="height: 150px;">
                <i class="fa fa-user fa-5x text-secondary"></i>
            </div>
        }
    </div>
</div>
<!-- Name -->
<div>
    <label asp-for="Name" class="col-form-label"></label>
    <input type="text" asp-for="Name" class="form-control" readonly />
</div>

<!-- Age -->
<div>
    <label asp-for="Age" class="col-form-label"></label>
    <input type="number" asp-for="Age" class="form-control" readonly />
</div>

<!-- Address -->
<div>
    <label asp-for="Address" class="col-form-label"></label>
    <input type="text" asp-for="Address" class="form-control" readonly />
</div>
<!-- Department -->
<div class="mb-3">
    <label asp-for="workfor" class="col-form-label"></label>
    <select asp-for="workfor" class="form-control" disabled>
        <option value="workForId" selected> @Model.workfor.Name</option>
    </select>
</div>
<!-- Salary -->
<div>
    <label asp-for="Salary" class="col-form-label"></label>
    <input type="number" asp-for="Salary" class="form-control" readonly />
</div>

<!-- Email -->
<div>
    <label asp-for="Email" class="col-form-label"></label>
    <input type="email" asp-for="Email" class="form-control" readonly />
</div>

<!-- Phone -->
<div>
    <label asp-for="Phone" class="col-form-label"></label>
    <input type="tel" asp-for="Phone" class="form-control" readonly />
</div>

<!-- Hire Date -->
<div>
    <label asp-for="HireDate" class="col-form-label"></label>
    <input type="datetime-local" asp-for="HireDate" class="form-control" readonly />
</div>

<!-- Gender -->
<div>
    <label asp-for="Gender" class="col-form-label"></label>
    <input type="text" asp-for="Gender" class="form-control" readonly />
</div>

<!-- Is Active -->
<div class="form-check mb-2">
    <input asp-for="IsActive" class="form-check-input" type="checkbox" disabled />
    <label asp-for="IsActive" class="form-check-label"></label>
</div>

<!-- Is Deleted (Soft Delete) -->
<div class="form-check mb-2">
    <input asp-for="IsDeleted" class="form-check-input" type="checkbox" disabled />
    <label asp-for="IsDeleted" class="form-check-label"></label>
</div>