@{
    ViewData["Title"] = "Check Your Inbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-center">
                <h3><i class="fas fa-envelope"></i> Check Your Inbox</h3>
            </div>
            <div class="card-body">
                <p class="text-center">
                    <i class="fas fa-envelope-open-text fa-3x text-primary"></i>
                </p>
                <p class="text-center">A verification email has been sent to your registered email address. Please check your inbox and follow the instructions to verify your account.</p>
                <div class="d-flex justify-content-center">
                    <a href="https://mail.google.com" class="btn btn-primary">
                        <i class="fas fa-check"></i> Go to Inbox
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
